:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: Black;
    --secondaryText: #4b51156;

    --theme-border: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow:#F0EAD6;

    --buttonColor: Black;

    --Themeder: #24292e;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body *{
    transition: 300ms ease-in;
}
body::-webkit-scrollbar{
    width: 0.50rem;

}
body::-webkit-scrollbar-track{
    background-color: gray;

}
body::-webkit-scrollbar-thumb{
    background-color: var(--buttonColor);
    border: 0.1rem solid var(--Themeder) ;

}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;

}
p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    /* border: 2px dashed coral; */
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;



    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3em 30em; */
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'

    ;
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    /* border: 1px dashed coral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 4px 4px 0 0;
}
.dots-wrapper{
    display: flex;
    padding: 10px;

}
#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2aca3e;
}


.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#navigation{
    margin: 0;
    padding: 10px;
}
#navigation a{
    color: var(--mainText);
}

#navigation li{
    display: inline-block;
    margin: 0 5px;
}
.left-column{
    grid-area: left-column;
    padding: 50px 0;
    /* border: 1px dashed coral; */
}
#profile_pic{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
    
}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    border: 2px solid var(--theme-border);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 200ms ease-in;
}
.theme-dot:hover{
    border-width: 5px;
    height: 40px;
    width: 40px;
    

}
#light-mode{
    background-color: #fff;
    border-color: var(--Themeder);
}
#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7e4c74;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    /* border: 1px dashed coral; */
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview{
    width: 300px;
    border: 2px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
    /* position: absolute; */
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'about-me social-links'
        'skills social-links'
        'skills social-links';
   /* gap: 100px; */
   column-gap: 100px;
    
}
.about-me{
    grid-area: about-me;
}
.skills{
    grid-area: skills;
}
.social-links{
    grid-area: social-links;
    display: grid;
    align-content: center;
    text-align: center;
}
.social-links h3{
    padding-top: 20px;
    margin-bottom: 20px;
}
.social-buttons{
    display:grid;
    row-gap: 20px;
 
}
.linksBtn{
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  font-weight: 800;
  background-color: var(--previewShadow);
  color: black
}
.about-me p{
    margin-bottom: 20px;
}

.about-wrapper h4{
    padding-top: 60px;
    padding-bottom: 30px;
}
.tpx{
    margin-top: -140px;
    
}
.tpp{
    margin-top: -130px;
}
#skills{
    height: fit-content;
    width: fit-content;
    margin-top: -150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    column-gap: 70px;
    background-color: var(--previewShadow);
    padding: 20px 100px;
}
.main-container{
    padding-bottom: 50px;
}
#social_img{
    width: 100%;
    padding-top: 80px;
}
.prjin {
    padding: 25px;
}

.post-wrapper{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center; */
    margin-left: 80px;
    gap: 20px;
}
.post{
    width: 300px;
    grid-area: post;
    border: 2px solid var(--borderColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.post-preview{
    background-color: #fff;
    padding: 20px;
}
.post-tittle{
    color: black;
    margin-bottom: 20px;
}
.post-intro{
    color: #4b5156;
    font-size: 16px;
}
.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;

}
#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    
}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}
.input-field{
    width: 100%;
    padding: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
  
}
#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}
@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
    .about-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'about-me'
            'about-me'
            'skills'
            'skills'
            'skills'
            'social-links';
      
        
    }
    .tpx{
        margin-top: -20px;
    }
    .tpp{
        margin-top: 0px;
    }
    #skills{
        margin-top: 40px;
    }
    .post-wrapper{
    
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
            'posts posts'
            'posts'
            'posts';
        
        margin-left: 200px;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper{
        
        grid-template-columns: 1fr;
        /* grid-template-rows: 3em 30em; */
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column'
    
        ;
    }
    .right-column{
        display: grid;
        align-content: center;
        justify-content: center;
        padding-bottom: 50px;
        /* border: 1px dashed coral; */
    }
    .post-wrapper{
    
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: 
            'posts'
            'posts'
            'posts';
        margin-left: 80px;
        
    }
    
}















a:link {
    color: coral;
}
a{
    text-decoration: none;
    /* padding: 10px 20px; */
    /* background-color: rgb(53, 189, 189); */
    color: #17a2b8
    /* border-radius: 20px; */

}

ul{
    list-style: none;
}
a:visited {
    color: #17a2b8
}
a:hover{
    font-size: 18px;
}
a:active {
    color: #17a2b8
  }